<li class="memo-card" id="memo_<%= h(memo.id) %>">
  <time class="memo-card__time" datetime="<%= h(memo.created_at.iso8601) %>">
    <%= h(memo_time_label(memo.created_at)) %>
  </time>
  <p class="memo-card__body"><%= h(memo_excerpt(memo.body)) %></p>
  <span class="memo-card__actions">
    <a href="/memos/<%= h(memo.id) %>/promote_to_note" class="memo-card__promote" title="필기로 승격">📝</a>
    <a href="/memos/<%= h(memo.id) %>/promote_to_record" class="memo-card__promote" title="기록으로 승격">📖</a>
  </span>
</li>
